# ZEAIPC / Zikriyon Fyber backend — copy to .env and fill in real values.

DJANGO_SECRET_KEY=ZEAIPCQALBCONVERFY786ZIKRIYONFYBER277209API
DEBUG=False
ALLOWED_HOSTS=api.zikriyonfyber.net,localhost,sip.qalbconverfy.in

DB_NAME=zikriyonfyber
DB_USER=zeaipc
DB_PASSWORD=6EnEV6HRzBT0Z68pT5wLvgP4U37Q9rpt
DB_HOST=dpg-da45al7qj5pc73bb97h0-a.singapore-postgres.render.com
DB_PORT=5432

KAMAILIO_DB_NAME=zikriyonfyber_tza8
KAMAILIO_DB_USER=zeaipc
KAMAILIO_DB_PASSWORD=uAgUxqa7wM9iP6iOVUP5yuQbLj2W5Uod
KAMAILIO_DB_HOST=dpg-da45snijobas73abv8vg-a.singapore-postgres.render.com
KAMAILIO_DB_PORT=5432

REDIS_URL=redis://default:KNa7volIK1nBIOK3tPCOHMncoXKAeWVB@sensitive-discussion-juicy-47037.db.redis.io:13026/0

ROUTER_SHARED_SECRET=ZEAIPCQALBCONVERFY786ZIKRIYONFYBER277209ROUTER
SIP_SERVER_SECRET=ZEAIPCQALBCONVERFY786ZIKRIYONFYBER277209ARMAN
SIP_DOMAIN=sip.qalbconverfy.in
SIP_NUMBER_PREFIX=51700

WEATHER_PROVIDER_API_KEY=a3ab76c3a39284a1d9e684f1c8688843

CORS_ALLOWED_ORIGINS=https://portal.zikriyonfyber.net,https://sip.qalbconverfy.in
